.cardproject{
    width: 300px;
    margin-top: 2em;
    &__img{
        width: 100%;
        border-radius: 4px;
    }

    &__info{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 1em;

        &-name-project{
            color: var(--clr-brand);
            font-weight: bold;
        }
        &-technologies{
           list-style: none;
           margin-top: 1em; 
           margin-bottom: 1em;
           display: flex;
           flex-wrap: wrap;
           align-items: center;
           justify-content: space-around; 
           .technologie{
               padding: 5px;
               border: 1px solid var(--clr-brand);
               border-radius:4px;
               margin-top: 4px;
           }
        }

        p{
            text-align: justify;
            line-height: 24px;
            font-weight: 400;
        }

        &-actions{
            margin-top: 10px;
            display: flex;
            width: 100%;

            a{
                display: flex;
                align-items: center;
            }

            a:first-child{
                margin-right: 1em;
            }
            img{
                margin-right: 5px;
            }
        }
    }
}

.btn__cv{
    display: flex;
    align-items: center;
    background-color: transparent;
    outline: none;
    border: none;
    padding: 3px;
    color: var(--clr-dark);
    font-weight: 700;
    border-bottom: 2px solid var(--clr-brand-500);
    cursor: pointer;
    text-decoration: none;
}