.App {
  text-align: center;

  .App__handshake{
    position: absolute;
    top: 25px;
    left: 0;
    width: 150px;
  }
  .App__handpoint{
    display: none;
  }
}

@media (min-width: 1280px) {

  .App {
  
    .App__handshake{
      position: absolute;
      top: 40px;
      left: 0;
      width: 285px;
      height: 700px;
    }
    .App__handpoint{
      position: absolute;
      top: 1850px;
      right: 0;
      width: 285px;
      display: block;
    }
  }
}

